
<main>
    <section id="carrossel" class="banner banner-vida">
        <div class="container posicionamento-banner">
            <div class="conteudo-banner">
                <h1>Game Mania</h1>
                <p>Sua loja, sua vida!</p>
            </div>
        </div>
    </section>

  <section class="jogos">
        <div class="container posicionamento-jogos">
            <img src="assets/img/lol.png" alt="Logo do League of Legends">
            <img src="assets/img/Fortnite.png" alt="Logo do Fortnite">
            <img src="assets/img/mine.png" alt="Logo do Minecraft">
        </div>
    </section>

    <section class="frase">
        <div>
            <p>Grandes aventuras esperam por você, prepare-se!</p>
        </div>
    </section>

    <section class="ofertas">
        <div class="container">
            <h2>Computadores</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="assets/img/ProdutoPCGamer.png" alt="CPU PC Gamer 16 Gigas">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/ProdutoPCGamer.png" alt="CPU PC Gamer 16 Gigas">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/ProdutoPCGamer.png" alt="CPU PC Gamer 16 Gigas">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/ProdutoPCGamer.png" alt="CPU PC Gamer 16 Gigas">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
            </div>
        </div>

        
    </section>  

  <section class="jogos">
        <div class="container posicionamento-jogos">
            <img id="playIcon" src="assets/img/playIcon.png" alt="Logo do Playstation">
            <img id="xboxIcon" src="assets/img/xboxIcon.png" alt="Logo do XBox">
            <img id="nintendoIcon" src="assets/img/NintendoIcon.svg" alt="Logo do Nintendo">
        </div>
    </section>

    <section class="frase">
        <div>
            <p>Consoles abrem portas para aventuras Incríveis! Escolha o seu.</p>
        </div>
    </section>
    
    <section class="ofertas">
        <div class="container">
            <h2>Consoles</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="assets/img/XboxOneProduto.png" alt="Xbox">
                    <div class="texto-card">
                       
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/XboxOneProduto.png" alt="Xbox">
                    <div class="texto-card">
                       
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/XboxOneProduto.png" alt="Xbox">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                <div class="cardnews">
                    <img src="assets/img/XboxOneProduto.png" alt="Xbox">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
            </div>
        </div>
    </section>

  <section class="jogos">
        <div class="container posicionamento-jogos">
            <img id="smsIcon" src="assets/img/smsIcon.png" alt="Logo SMS Mensagens">
            <img id="celularIcon" src="assets/img/celularIcon.svg" alt="Logo Celular">
            <img id="notebookIcon" src="assets/img/notebook.svg" alt="Logo Notebook">
        </div>
    </section>

    <section class="frase">
        <div>
            <p>Quer um Celular ou Notebook? Veja alguns.</p>
        </div>
    </section>

    <section class="ofertas">
        <div class="container">
            <h2>Celulares e Notebooks</h2>
            <div class="espaco-produtos">
                <div class="cardnews">
                    <img src="assets/img/CelularProduto.png" alt="Celular">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>

                <div class="cardnews">
                    <img src="assets/img/CelularProduto.png" alt="Celular">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>

                <div class="cardnews">
                    <img src="assets/img/noteBook.png" alt="Notebook">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
                
                <div class="cardnews">
                    <img src="assets/img/noteBook.png" alt="Notebook">
                    <div class="texto-card">
                        
                        <p>Descrição do produto</p>
                        <p class="preco">R$9.999,99</p>
                        <a href="#">Comprar</a>
                    </div>                        
                </div>
            </div>
        </div>
    </section>
   
</main>

<!-- SEO - Search Engine Optimization -->
<!-- NVDA -->
<!-- Mobile First -->
